apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: ctlog-managectroots
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: ctlog-managectroots
    app.kubernetes.io/part-of: scaffolding
  name: ctlog-managectroots
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: ctlog-managectroots
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: ctlog-managectroots
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/ctlog-managectroots@sha256:e4ba8cae47029b5a7400d2bbeaf30cb146d1d7ff0a14f8168158d40532787bec
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
