apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: cloudsqlproxy
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/cloudsqlproxy@sha256:6baf563c98cbca558bd3f6e66a71f0b1fe0e68b63045471e1a3da84c89f9951a
        name: my-go
        resources: {}
status: {}
