apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: cloudsqlproxy
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/cloudsqlproxy@sha256:af5f1b7d2783bb3be159b97071fd1becff364612856739dce9890084cdd84211
        name: my-go
        resources: {}
status: {}
