apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: ct-server
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: ct-server
    app.kubernetes.io/part-of: scaffolding
  name: ct-server
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: ct-server
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: ct-server
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/ct-server@sha256:696b39ea2a9962dce63f14061717a2ea2ae6b2a539f19bf69510fc9ef5f4c733
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
