apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: createcerts
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: createcerts
    app.kubernetes.io/part-of: scaffolding
  name: createcerts
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: createcerts
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: createcerts
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/createcerts@sha256:c865f53651e8067a612ec152bf361e81dd21ab3751bef1cf232363e6151ededb
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
