apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: ctlog-verifyfulcio
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/ctlog-verifyfulcio@sha256:0c1a4f09c4dcc15a69697e96362c5a018e364627719d14343141a95e145338c5
        name: my-go
        resources: {}
status: {}
