apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: createcerts
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/createcerts@sha256:1d0ce561daa4d0715787ae004bc4f04505b716dc6f6bbc33808a614308912c20
        name: my-go
        resources: {}
status: {}
