apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: tuf-server
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: tuf-server
    app.kubernetes.io/part-of: scaffolding
  name: tuf-server
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: tuf-server
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: tuf-server
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/tuf-server@sha256:39ffceddabe6b20c71c3780e8b7d9f0b214346d96ace7479f9e52fb0623233ae
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
