apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: tuf-server
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/tuf-server@sha256:969ce7c8f30731d376a2dab147b035ecd8317fcfa6fe4a3bb1c5a9a0748c9cc4
        name: my-go
        resources: {}
status: {}
