apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: tuf-server
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/tuf-server@sha256:e3164b19ee09337fd4401198c15e886b32a01914b729827b6b9efeeec9444031
        name: my-go
        resources: {}
status: {}
