apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: tuf-server
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/tuf-server@sha256:4e2d2c1d680f110daa83bb72da2844862098205b02bf2741d025dfc982f9c93b
        name: my-go
        resources: {}
status: {}
