apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: ct-server
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/ct-server@sha256:d940071097f57cda24e542bb558a819c838ea159e3ced94bcb92097e736ee81b
        name: my-go
        resources: {}
status: {}
