apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: createtree
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/createtree@sha256:20b8e3ce2beff45bd4319aa632ee09417e9af51a2e1ee50d32db43e54eac9ca8
        name: my-go
        resources: {}
status: {}
