apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: createctconfig
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/createctconfig@sha256:cc4648e004a3350889cc2a2af48f400860668c225435d9681e8d4db84c82f499
        name: my-go
        resources: {}
status: {}
