apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: createctconfig
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: createctconfig
    app.kubernetes.io/part-of: scaffolding
  name: createctconfig
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: createctconfig
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: createctconfig
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/createctconfig@sha256:239f4a73d4f5abcc6e97c7031a18c73736d90b68cf6c2032eef3a5242384eaa1
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
