apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: runtimecheck
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: runtimecheck
    app.kubernetes.io/part-of: scaffolding
  name: runtimecheck
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: runtimecheck
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: runtimecheck
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/runtimecheck@sha256:b5e53b09bd6a2aaa5d294b9758143e420fc5cdc59189030e2158c18bd5db5a42
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
