apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: cloudsqlproxy
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: cloudsqlproxy
    app.kubernetes.io/part-of: scaffolding
  name: cloudsqlproxy
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: cloudsqlproxy
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: cloudsqlproxy
    spec:
      containers:
      - image: quay.io/redhat-user-workloads/securesign-tenant/scaffolding/cloudsqlproxy@sha256:6baf563c98cbca558bd3f6e66a71f0b1fe0e68b63045471e1a3da84c89f9951a
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        - containerPort: 8080
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
